@import 'avalanchesass_utility_background/style_guide';
@import 'avalanchesass_utility_background/variable';
@import 'avalanchesass_utility_background/mixin';

/* extract utility.css */
/* extract utility_background.css */
/*---
title:   Example
name:    utility_background_example
section: utility_background
order:   1
---
*/
@each $-cs in $u-background-cs {
  /*---
  title:   cs: #{$-cs}
  name:    utility_background_example_cs_#{$-cs}
  section: utility_background_example
  ---
```example:html
<div class="#{$u-background-namespace}-cs-#{$-cs}">
  cs: #{$-cs}
</div>
```
  */
  .#{$u-background-namespace}-cs-#{$-cs} {
    @include u-background-cs($-cs);
  }
}

@each $-cs-alert in $u-background-cs-alerts {
  /*---
  title:   cs-alert: #{$-cs-alert}
  name:    utility_background_example_cs_alert_#{$-cs-alert}
  section: utility_background_example
  ---
```example:html
<div class="#{$u-background-namespace}-cs-alert-#{$-cs-alert}">
  cs-alert: #{$-cs-alert}
</div>
```
  */
  .#{$u-background-namespace}-cs-alert-#{$-cs-alert} {
    @include u-background-cs-alert($-cs-alert);
  }
}

@each $-cs-grey in $u-background-cs-grey {
  /*---
  title:   cs-grey: #{$-cs-grey}
  name:    utility_background_example_cs_grey_#{$-cs-grey}
  section: utility_background_example
  ---
```example:html
<div class="#{$u-background-namespace}-cs-grey-#{$-cs-grey}">
  cs-grey: #{$-cs-grey}
</div>
```
  */
  .#{$u-background-namespace}-cs-grey-#{$-cs-grey} {
    @include u-background-cs-grey($-cs-grey);
  }
}
/* end extract utility_background.css */
/* end extract utility.css */
