@import 'avalanchesass_utility_background/style_guide';

/*---
title:   Mixin
name:    utility_background_mixin
section: utility_background
order:   2
---

```css
// Basic.
u-background-cs([$-cs: a])

// Alerts.
u-background-cs-alert([$-cs-alert: positive])

// Grey.
u-background-cs-grey([$-cs-grey: a])
```
*/
@mixin u-background-cs($-cs: a) {
  background: map-get($cs, $-cs) !important;
}

@mixin u-background-cs-alert($-cs-alert: positive) {
  background: map-get($cs-alerts, $-cs-alert) !important;
}

@mixin u-background-cs-grey($-cs-grey: a) {
  background: map-get($cs-grey, $-cs-grey) !important;
}
