@import 'avalanchesass_utility_background/style_guide';

/*---
title:   Mixin
name:    utility_background_mixin
section: utility_background
sort:    2
---

```css
// Basic.
u-background-cs([$-cs: a[, $-cs-contrast: $-cs]])

// Alerts.
u-background-cs-alert([$-cs-alert: positive[, $-mix-color: #fff[, $-mix-weight: 20%]]])

// Grey.
u-background-cs-grey([$-cs-grey: a[, $-cs-grey-contrast: null]])
```
*/
@mixin u-background-cs($-cs: a, $-cs-contrast: $-cs) {
  background: map-get($cs, $-cs);
  color: map-get($cs-contrast, $-cs-contrast);
}

@mixin u-background-cs-alert($-cs-alert: positive, $-mix-color: #fff, $-mix-weight: 20%) {
  background: mix(map-get($cs-alerts, $-cs-alert), $-mix-color, $-mix-weight);
  color: map-get($cs-alerts, $-cs-alert);
}

@mixin u-background-cs-grey($-cs-grey: a, $-cs-grey-contrast: null) {
  background: map-get($cs-grey, $-cs-grey);
  @if $-cs-grey-contrast {
    color: $-cs-grey-contrast;
  }
}
