/*---
title:   Background
name:    utility_background
section: Utility
---

Color scheme background with contrast text color.
*/
/*---
title:   Example
name:    utility_background_example
section: utility_background
---
*/
/*---
title:   Mixin
name:    utility_background_mixin
section: utility_background
---
*/
/*---
title:   Variable
name:    utility_background_variable
section: utility_background
---
*/
