@import 'avalanchesass_utility_background/style_guide';

$u-background-namespace: '#{map-get($namespace, utility)}background' !default;

$u-background-cs: (a) !default;
$u-background-cs-alerts: () !default;
$u-background-cs-grey: () !default;
/*---
title:   Variable
name:    utility_background_variable
section: utility_background
order:   3
---

```css
$u-background-namespace: '#{$u-background-namespace}';

$u-background-cs: (#{$u-background-cs});
$u-background-cs-alerts: (#{$u-background-cs-alerts});
$u-background-cs-grey: (#{$u-background-cs-grey});
```
*/
